<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="student" class="com.day1.Student">

    <constructor-arg name="roll" value="1"></constructor-arg>
    <constructor-arg name="name" value="Rakib"></constructor-arg>
    <constructor-arg name="marks" value="324"></constructor-arg>


</bean>
    
    
    <bean id="college" class="com.day1.College" autowire="byType">
        

    </bean>
            


</beans>